@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;
    
}
.backgroundForm{
    width: 100%;
    height: 100px;
    background-color: #010304;
    margin-top: -130px;
}

.menuList{
    margin-top: -70px;
}

.options{
    width: 23%;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-top: -50px;
}

.options div img{
    padding: 10px;
    max-width: 55px;
}

.options div p{
    color: #000;
    font-weight: bold;
}

.options p,a {
    color: #000;
    font-weight: bold;
    text-align: center;
}

.meansOfLogin{
    width: 100%;
    height: 600px;
    margin-top: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginGoogle,
.loginFacebook,
.loginApple {
    width: 100%;
    height: 25%;
    background-color: azure;
    margin-top: 5px;
    border: 1px solid #000009;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.loginGoogle:hover,
.loginFacebook:hover,
.loginApple:hover {
    background-color: #07141c32;
}


form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.form-group{
    width: 100%;
    background-color: #ffffff00;
}
.form-group input{
    padding: 25px;
    width: 100%;
    outline: none;
    margin-top: 15px;
    border: 1px solid #000009;
    
}

.form-group span {
    margin-right: auto;
    margin-left: 5px;
    color: #000;
    font-weight: bold;
    display: flex;
    margin-top: -48px;
    transition: .5s;
    background-color: #00000000;
}

.form-group input:focus ~ span{
    transform: translateY(-18px);
    font-size: 14px;
}

button {
    padding: 25px;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #07141C;
    color: #fff;
    font-family: "Oswald";
    font-size: 20px;
    font-weight: bold;
}

button:hover{
    background-color: #07141c45;
    transition: .5s;
    border: 1px solid  #060606;
    color: #000;
    font-weight: bold;
}

button:not(:hover){
    transition: .5s;
}