@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;
}

input, textarea{
    outline: none;
    border: 2px solid #FFF;
    background: none;
    caret-color: #FFF;
    color: #FFF;
    font-family: 'Arial';
}

#field{
    padding: 15px;
    resize: none;
}
.backgroundContact{
    width: 100%;
    height: 150px;
    background-color: #010304;
    margin-top: -150px;
}
.contact{
    margin-top: 150px;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
    color: #fff;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/predio.jpg);
    background-size: 120%;
}

.infoContacts{
    width: 100%;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}


.questionsFaq{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.questionsFaq p{
    font-size: 20px;
    font-weight: bold;
}
.questionsFaq h1{
    font-size: 45px;
}

.generalQuestions {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    height: 82%;
}

.questionOne{
    width: 100%;
    height: 20%;
    display: flex;
    cursor: pointer;
}

.questionOne img{
    width: 22px;
    margin-left: auto;
    margin-right: 10px;
}
.subQuestionOne{
    width: 100%;
    height: 35%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-bottom: 1px solid #00000089;
}

.subQuestionOne ul{
    list-style: decimal;
    margin-left: 40px;
}

.questionTwo{
    width: 100%;
    height: 20%;
    display: flex;
    cursor: pointer;
    border-bottom: 1px solid #00000089;
}

.questionTwo img{
    width: 22px;
    margin-left: auto;
    margin-right: 10px;
}
.subQuestionTwo{
    height: 20%;
    display: none;
    border-bottom: 1px solid #00000089;
}
.subQuestionTwo p{
    font-weight: normal;
}
.questionThree{
    width: 100%;
    height: 20%;
    display: flex;
    cursor: pointer;
    border-bottom: 1px solid #00000089;
}

.questionThree img{
    width: 22px;
    margin-left: auto;
    margin-right: 10px;
}

.subQuestionThree{
    height: 20%;
    width: 100%;
    display: none;
    border-bottom: 1px solid #00000089;
}

.subQuestionThree p{
    font-weight: normal;
}

.windowForm{
    width: 48%;
    background: #07141c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contForm{
    width: 70%;
    height: 85%;
}

.contForm h2{
    font-size: 60px;
}

.contForm hr{
    width: 35%;
}
.contForm{
    display: flex;
    flex-direction: column;
}

.contForm .form1{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    flex-wrap: wrap;
    width: 100%;
    height: 165px;
    font-size: 18px;
}

.contForm .form1 p{
    margin-left: 6px;
}

.contForm .form2{
    margin-left: 5px;
    font-size: 18px;
}

.contForm .form2 button{
    padding: 15px;
    width: 150px;
    cursor: pointer;
    background: #fff;
    color: #07141c;
    border: none;
}

.contForm .form2 button:hover{
    background: #1010108f;
    transition: 1.2s;
    color: #fff;
    border: 1px solid #fff;
}

.contForm .form2 button:not(:hover){
    transition: 1.2s;
    border: none;
}

.contForm input{
    padding: 15px;
    width: 46%;
    margin-left: 5px;
    margin-top: 5px;
}

.windowImage{
    width: 52%;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    position: relative;
}

.imgCont{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../images/imgContact.jpg);
}

.background{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
}

[data-anime] {
    opacity: 0;
    transition: 1s;
}
[data-anime = "left"] {
    transform: translate3d(-50px, 0, 0);
}
[data-anime = "right"] {
    transform: translate3d(50px, 0, 0);
}
.animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}