@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

body{
    font-family: 'Oswald';
}

.msgResource{
    width: 100%;
    height: 300px;
    background-color: #162D35;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contentRec{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 160px;
    font-size: 35px;
    font-weight: bolder;
    color: #f2f2f2;
}

.backgroundAbout{
    margin-top: -100px;
}

.recPosition{
    display: flex;
    height: 2500px;
    overflow: hidden;
}

.recPositionPost{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 2200px;
    width: 100%;
    overflow: hidden;
}
.recPositionPost div{
    width: 700px;
    height: 700px;
    border-radius: 10px;
}
.recPositionPost div img{
    border-radius: 10px;
}
.recPosition .rec{
    display: flex;
    gap: 30px;
}
.recPosition .rec p:hover{
    color: #162D35;
    cursor: pointer;
    font-weight: bolder;
}
.recPositionPost div .imgsRec .like{
    display: flex;
    margin-left: 497px;
}
